@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
/*https://coolors.co/000000-272727-585858-924635-cc3311-e69988-ffffff*/

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #eeefff;
  min-height: calc(100vh - 10rem);
}

h1 {
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color:#023E8A;
  font-weight: 400;
}

a:hover, a:visited, a:link, a:active
{
    text-underline-offset: 3px;
}

.navMenu {
  height: 5rem;
  background-color: #023E8A;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navMenu a {
  padding-top: 5px;
  font-weight:400;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  transition-duration: 0.2s;
  text-align:center;
}

.navMenu a:hover {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-shadow: #fff 0 0 48px;
}

form {
  padding: 5%;
  border: 0px;
  border-radius:8px; 
  margin-bottom: 2.5%;
}

input {
  padding-top: 3px;
  font-size: 18px;
  width: 100%;
  height: 32px;
  border-radius: 0px;
  border: 0px;
  border-left: #023E8A solid 4px;
  background: #eeefff;
  box-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

input:hover {
  box-shadow: inset 0px -14px 10px -10px rgba(0, 0, 128, 0.1);
}

input:focus {
  box-shadow: inset 0px -12px 12px -8px rgba(0, 0, 128, 0.2);
  outline: 0px;
}

textarea {
  padding-top: 3px;
  font-size: 18px;
  width: 100%;
  height: 64px;
  border-radius: 0px;
  border: 0px;
  border-left: #023E8A solid 4px;
  background: #eeefff;
  box-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
  resize: none;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

textarea:hover {
  box-shadow: inset 0px -14px 10px -10px rgba(0, 0, 128, 0.1);
}

textarea:focus {
  box-shadow: inset 0px -12px 12px -8px rgba(0, 0, 128, 0.2);
  outline: 0px;
}

option {
  padding-top: 3px;
  font-size: 18px;
  width: 100%;
  height: 32px;
  border-radius: 0px;
  border: 0px;
  border-left: #023E8A solid 4px;
  background: #eeefff;
  box-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

option:hover {
  box-shadow: inset 0px -14px 10px -10px rgba(0, 0, 128, 0.1);
}

option:focus {
  box-shadow: inset 0px -12px 12px -8px rgba(0, 0, 128, 0.2);
  outline: 0px;
}

select {
  padding-top: 3px;
  font-size: 18px;
  width: 100%;
  height: 32px;
  border-radius: 0px;
  border: 0px;
  border-left: #023E8A solid 4px;
  background: #eeefff;
  box-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

select:hover {
  box-shadow: inset 0px -14px 10px -10px rgba(0, 0, 128, 0.1);
}

select:focus {
  box-shadow: inset 0px -12px 12px -8px rgba(0, 0, 128, 0.2);
  outline: 0px;
}

.loginForm {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 6rem;
}

.a1 {
  font-weight:300;
  background-color: #eeefff;
  font-family: 'Josefin Sans', sans-serif;
  font-size:20px;
  padding:2%;
  min-height: calc(100vh - 10rem);
}

.content{
  flex: 1;
}

.container .title {
  position: absolute;
  top: 27.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 6px;
  font-size: 48px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.container img {
  margin-top:2%;
  margin-bottom:5%;
  border-radius:8px;
  width:100%;
  height: 20rem;
  object-fit: cover;
}

legend {
  text-align: center;
}

.card {
  width: 50rem; 
  border-radius:8px;
  border: 0px;
  box-shadow: 4px 4px 32px 0px rgba(0, 0, 128, 0.25);
}

footer {
  height: 5rem;
  background-color: #023E8A;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.shadow {
  border: 0px;
  border-radius:8px;
  box-shadow: 4px 4px 32px 0px rgba(0, 0, 128, 0.25);
}

.logo {
 height: 5rem;
 object-fit:cover;
}

.list {
    min-height:calc(100% - 16rem);
	  width:100%;
    padding:5%;
  	background-color:#fff;
  	border-radius:8px;
  	box-shadow: 4px 4px 32px 0px rgba(0, 0, 128, 0.25);
}

.raplist {
	width:48.75%;
    padding:0% 5% 5% 5%;
    margin-bottom:2.5%;
  	background-color:white;
  	border-radius:8px;
  	box-shadow: 4px 4px 32px 0px rgba(0, 0, 128, 0.25);
    transition: 0.3s;
}

.raplist:hover {
  	box-shadow: 8px 8px 48px 0px rgba(32, 32, 128, 0.3);
    cursor:pointer;
}

.raplist h2{
  color: white;
  padding: 3% 11% 3% 11%;
  background-color: #023E8A;
  border-radius: 8px 8px 0px 0px;
  margin-left: -12.9%;
  margin-right: -12.9%;
  margin-bottom: 10%;
  transition: 0.3s;
}

.raplist:hover h2{
  background-color: #1E62B4;
}

.row {
 	border-bottom: 1px solid #023E8A;
  	padding-top:5px;
  	padding-bottom:5px;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #eeefff;
}
::-webkit-scrollbar-thumb {
  background: #1E62B4;
  padding:1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3485E0;
}

.dateRapForm {
  display: flex;
}

.dateRap {
  width: 15%;
  margin-left: 1%;
  margin-right: 1%;
}

.displayRap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leX input {
  width: 100%;
  border: 0px;
  border-radius: 8px;
  height: 2rem;
  padding-left: 1.5%;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 128, 0.25);
  font-size: 12px;
}

.rapmenu {
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  height: 308px;
  width: 308px;
  border: solid 4px #023E8A;
  border-radius: 24px;
  text-align: center;
  align-items: center;
  padding: 1% 1% 0 1%;
  margin: 4%;
  background-color: #fff;
  transition-duration: 0.3s;
}

.rapmenudiv {
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  flex-wrap:wrap
}

.rapmenu a{
  font-weight:300;
  background-color: #023E8A;
  color: white;
  padding: 5% 3% 5% 3%;
  border-radius: 0 0 24px 24px;
  text-decoration: none;
  width: 308px;
  margin-bottom: -12px;
  transition-duration: 0.3s;
}

.rapmenu:hover{
  border-color: #1E62B4;
  background-color: #eeefff;
  cursor:pointer;
}

.rapmenu img {
  filter: brightness(1.0);
  transition-duration: 0.3s;
}

.rapmenu:hover img{
  filter: brightness(1.3);
}

.rapmenu:hover a{
  background-color: #1E62B4;
}

.rapmenu a:hover{
  color: white;
  text-decoration: none;
  background-color: #1E62B4;
}

.rapmenu img {
  width: 180px;
  height: 180px;
}

.newrap label {
  padding-top: 1%;
  margin-bottom: 0%;
}

.saisieRapport {
  margin-top: -4%;
  margin-bottom: 0%;
}

input[type="checkbox"]{
  appearance:none;
  width:40px;
  height:20px;
  border:0px solid #eeefff;
  background:#eeefff;
  position:relative;
  display:inline-block;
  overflow:hidden;
  vertical-align:middle;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-sizing:border-box;
  box-shadow: none;
}
input[type="checkbox"]:after{
  content:'';
  top:2px;
  left: 2px;
  position:absolute;
  width:16px;
  height:16px;
  background:#023E8A;
  border:0px solid #eeefff;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: none;
}

input[type="checkbox"]:hover:after{
  background:#538bd4;
}

input[type="checkbox"]:focus{
  box-shadow: none;
}

input[type="checkbox"]:checked{
  background:#023E8A;
  border-color:#023E8A;
}
input[type="checkbox"]:checked:after{
  top:2px;
  left:22px;
  border-color:#8daee5;
  background:#eeefff;
}

input[type="checkbox"]:checked:hover{
  background:#538bd4;
}

input[type="checkbox"]:hover:not(:checked):not(:disabled):after,
input[type="checkbox"]:focus:not(:checked):not(:disabled):after{
  left:2px;
}

input[type="checkbox"]:hover:checked:not(:disabled):after,
input[type="checkbox"]:focus:checked:not(:disabled):after{
  left:22px;
}

input[type="checkbox"]:disabled{
  opacity:0.5;
}

.addechantillon {
  border-left: #28a745 solid 4px; 
  background: #00ff0030;
  font-size: 14px;
}

.addechantillon:hover {
  box-shadow: none;
  background-color: #aaffaa;
}

.addechantillon:focus {
  box-shadow: none;
}

.delechantillon {
  border-left: #dc3546 solid 4px; 
  background: #ff000030;
  font-size: 14px;
}

.delechantillon:hover {
  box-shadow: none;
  background-color: #ffaaaa;
}

.delechantillon:focus {
  box-shadow: none;
}

.btn:hover {
  box-shadow: none;
}

.createrap {
  width:100%;
  padding: 2% 5% 2% 5%;
  text-align:center;
  background:#fff;
  border-radius:16px;
  margin: 0 1% 1% 1%;
}